<%- include('./nav.ejs') %>
<body>
	<div class="container pt-4 pb-5">
		<div class="row">
			<div class="col-6">
				<h3>Course Management</h3>
			</div>
			<div class="col-6 d-flex justify-content-end"><a class="btn btn-sm btn-primary align-self-center" href="/admin/add-course">+ Add Course</a></div>
		</div>
		
		<hr class="my-2" />
		<table class="table stripe mt-0" id="table" style="width: 100%">
			<thead>
				<tr>
					<th scope="col">Course Code</th>
					<th scope="col">Course Name</th>
					<th scope="col">Instructor</th>
					<th scope="col">Venue</th>
					<th scope="col">Seats</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<% for (var course of courses){ %>
				<tr>
					<td><%=course.courseCode%></td>
					<td><%=course.courseName%></td>
					<td><%=course.instructor%></td>
					<td><%=course.venue%></td>
					<td><%=course.seat%></td>
					<td>
						<button
							id="e+<%=course._id%>"
							class="btn btn-light btn-rounded btn-sm fw-bold"
							data-toggle="modal"
							data-target="#exampleModal3"
							type="button"
							data-mdb-ripple-color="dark"
							onclick=""
						>
							Edit
						</button>
						<button
							id="d+<%=course._id%>+<%=course.courseCode%>"
							class="btn btn-danger btn-rounded btn-sm fw-bold"
							data-mdb-toggle = "modal"
							data-mdb-target="#exampleModal"
							type="button"
							onclick="confirmDelete(this)"
						>
							Delete
						</button>

					</td>
				</tr>
				<%}%>
			</tbody>
		</table>

	</div>
</body>

<script>
	$(document).ready(function () {
		$("#table").DataTable({
			columnDefs: [
				{
					orderable: false,
					targets: 5,
				},
			],
		});
	});

	function confirmDelete(btn) {
		let data = btn.id.split("+");
        let confirmAction = confirm(`Are you sure to delete the course ${data[2]} ?`);
        if (confirmAction) {
			fetch(
				"/api/courses/delete",
				{
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({_id:data[1]}),
				}
			).then(async (data) => {
				if (data.status == "200") {
					window.location.replace(
						"/admin/courses"
					);
					alert("success!");
				} else {
					alert("error!");
				}
			});
      }
	}
	// function handleDelete(event) {
	// 	// alert("Delete");
	// }


</script>
<%- include('./nav_end.ejs') %>
