<%- include('./nav.ejs') %>
<div class="container pt-4 pb-5">
	<div class="row">
		<div class="col-6">
			<h3>Course Management</h3>
		</div>
		<!-- <div class="col-6 d-flex justify-content-end"><a class="btn btn-sm btn-primary align-self-center" href="/admin/add_course">+ Add Course</a></div> -->
		<div class="col-6 d-flex justify-content-end">
			<a class="btn btn-sm btn-primary align-self-center mx-1" href="add_course">Add Course</a>
			<button class="btn btn-sm btn-secondary align-self-center mx-1"  data-mdb-toggle="modal"
			data-mdb-target="#exampleModal2">Import Courses</button>
		</div>
	</div>

	<hr class="my-2" />
	<table class="table stripe mt-0" id="table" style="width: 100%">
		<thead>
			<tr>
				<th scope="col">Course Code</th>
				<th scope="col">Course Name</th>
				<th scope="col">Instructor</th>
				<th scope="col">Venue</th>
				<th scope="col">Seats</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			<% for (var course of courses){ %>
				<tr>
					<td style="vertical-align: middle">
						<%=course.courseCode%>
					</td>
					<td style="vertical-align: middle; width: 15%;">
						<%=course.courseName%>
					</td>
					<td style="vertical-align: middle">
						<%=course.instructor%>
					</td>
					<td style="vertical-align: middle">
						<%=course.venue%>
					</td>
					<td style="vertical-align: middle">
						<%=course.seat%>
					</td>
					<td style="vertical-align: middle">
						<button id=<%=course._id%>
							class="btn btn-secondary btn-rounded btn-sm fw-bold"
							data-toggle="modal"
							data-target="#exampleModal3"
							type="button"
							name="edit"
							data-mdb-ripple-color="dark"
							onclick=""
							>
							Info
						</button>
						
						<button class="btn btn-danger btn-rounded btn-sm fw-bold" data-mdb-toggle="modal"
							data-mdb-target=#<%=course.courseCode %>D
							type="button"
							>
							Delete
						</button>
						<a class="btn btn-link btn-rounded btn-sm fw-bold" href="/admin/course/evaluation/<%=course._id%>"
							>
							Evaluations
					</a>
						<div class="modal fade" id=<%=course.courseCode%>D tabindex="-1"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Confirm: Course Deletion?</h5>
									</div>
									<div class="modal-body">Confirm delete <%=course.courseCode %>?</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary btn-rounded btn-sm fw-bold"
											data-mdb-dismiss="modal">Close</button>
										<button type="button" class="btn btn-danger btn-rounded btn-sm fw-bold"
											id=<%=course._id %> data-mdb-dismiss="modal" name="delete"
											>Confirm</button>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			<%}%>
		</tbody>
	</table>
	<!-- 	  
<div class="text-center">
<a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalAddCourseForm">Launch
	Modal Register Form</a>
</div> -->
</div>

<div class="modal fade" id="exampleModal2"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Action: Import Courses</h5>
			</div>
			<div class="modal-body">
				<p>
					Please select your excel file:
				</p>
				<input type="file" name="excelFile" accept=".xls,.xlsx" id="excel">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-rounded btn-sm fw-bold"
					data-mdb-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary btn-rounded btn-sm fw-bold"
					id="import"
					>Import</button>
			</div>
		</div>
	</div>
</div>



<script src="https://unpkg.com/axios@0.24.0/dist/axios.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
<script>
	$(document).ready(function () {
		$("#table").DataTable({
			columnDefs: [
				{
					orderable: false,
					targets: 5,
				},
			],
		});
	});
	$("[name='delete']").click(function () {
		var data = $(this).attr("id");
		console.log(data);
		fetch(
			"/api/courses/delete",
			{
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({ _id: data }),
			}
		).then(async (data) => {
			if (data.status == "200") {
				window.location.replace(
					"/admin/courses"
				);
				alert("success!");
			} else {
				alert("error!");
			}
		});
	})

	$("[name='edit']").click(function () {
		var data = $(this).attr("id");
		console.log(data);
		window.location.replace(`/api/courses/edit/${data}`);
	})

	$("[name='del']").click(function () {
		$(this).closest("tr").remove();
	});

	$('#import').click(() => {
			var file = $('#excel')[0].files[0];
			console.log(file)
			if (file) {
				let formData = new FormData();
				formData.set('file', file);
				axios.post("/api/courses/import-courses", formData, {
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}).then(res => {
					console.log(res)
					if (res.status === 200) {
						alert(res.data);
						location.reload()
					} else {
						alert(`Something went wrong!\n
						${res.data}`);
						location.reload()
					}
				})
			}
		})
</script>

<%- include('./nav_end.ejs') %>