<%- include('./nav.ejs') %>
<body>
	
	<div class="container pt-4 pb-5">
		<div class="row">
			<div class="col-6">
				<h3>Course Management</h3>
			</div>
			<div class="col-6 d-flex justify-content-end"><a class="btn btn-sm btn-primary align-self-center" href="/admin/add_course">+ Add Course</a></div>
		</div>
		
		<hr class="my-2" />
		<table class="table stripe mt-0" id="table" style="width: 100%">
			<thead>
				<tr>
					<th scope="col">Course Code</th>
					<th scope="col">Course Name</th>
					<th scope="col">Instructor</th>
					<th scope="col">Venue</th>
					<th scope="col">Seats</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<% for (var course of courses){ %>
				<tr>
					<td style="vertical-align: middle"><%=course.courseCode%></td>
					<td style="vertical-align: middle"><%=course.courseName%></td>
					<td style="vertical-align: middle"><%=course.instructor%></td>
					<td style="vertical-align: middle"><%=course.venue%></td>
					<td style="vertical-align: middle"><%=course.seat%></td>
					<td style="vertical-align: middle">
						<button
							id=<%=course._id%>
							class="btn btn-secondary btn-rounded btn-sm fw-bold"
							data-toggle="modal"
							data-target="#exampleModal3"
							type="button"
							name="edit"
							data-mdb-ripple-color="dark"
							onclick=""
						>
							Edit
						</button>
						<button
							class="btn btn-danger btn-rounded btn-sm fw-bold"
							data-mdb-toggle = "modal"
							data-mdb-target=#<%=course.courseCode %>D
							type="button"
						>
							Delete
						</button>
						<div class="modal fade" id=<%=course.courseCode%>D tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="exampleModalLabel"></h5>
								</div>
								<div class="modal-body">Confirm delete <%=course.courseCode %>?</div>
								<div class="modal-footer">
								  <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
								  <button type="button" class="btn btn-danger btn-rounded btn-sm fw-bold" 
								 id=<%=course._id %> data-mdb-dismiss="modal" name="delete" >Save changes</button>
								</div>
							  </div>
							</div>
						</div>
					</td>
				</tr>
				<%}%>
			</tbody>
		</table>

	</div>
</body>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
<script>
	$(document).ready(function () {
		$("#table").DataTable({
			columnDefs: [
				{
					orderable: false,
					targets: 5,
				},
			],
		});
	});
	$("[name='delete']").click(function(){
		var data=$(this).attr("id");
		console.log(data);
		fetch(
			"/api/courses/delete",
			{
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({_id:data}),
			}
		).then(async (data) => {
			if (data.status == "200") {
				window.location.replace(
					"/admin/courses"
				);
				alert("success!");
			} else {
				alert("error!");
			}
		});
	})
	// function handleDelete(event) {
	// 	// alert("Delete");
	// }
	$("[name='edit']").click(function(){
		var data=$(this).attr("id");
		console.log(data);
		window.location.replace(`/api/courses/edit/${data}`);
		// 	{
		// 		method: "GET",
		// 		headers: {
		// 			"Content-Type": "application/json",
		// 		},
		// 		// param: {_id:data},
		// 	}
		// )
		// .then(async (data) => {
		// 	if (data.status == "200") {
		// 		// window.location.replace(
		// 		// 	"/admin/courses/edit"
		// 		// );
		// 	} else {
		// 		alert("error!");
		// 	}
		})

	
</script>
<%- include('./nav_end.ejs') %>
