<%- include('./nav.ejs') %>
<body>
	<div class="container pt-4 pb-5">
		<div class="row">
			<div class="col-6">
				<h3>User Management</h3>
			</div>
			<div class="col-6 d-flex justify-content-end"><a class="btn btn-sm btn-primary align-self-center" href="/admin/add_user">+ New User</a></div>
		  </div>
		<hr class="my-2" />
		<table class="table stripe mt-0" id="table" style="width: 100%">
			<thead>
				<tr>
					<th scope="col">Email</th>
					<th scope="col">Name</th>
					<th scope="col">Role</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<% data.users.forEach((user)=> { %>
				<tr>
					<td style="vertical-align: middle"><%= user.email%></td>
					<td style="vertical-align: middle"><%= user.fullName%></td>
					<td style="vertical-align: middle"><%=user.role%></td>
					<td>
						<button
							class="btn btn-secondary btn-rounded btn-sm fw-bold"
							data-toggle="modal"
							data-target=""
							type="button"
							data-mdb-ripple-color="dark"
							onclick=""
						>
							Reset Password
						</button>
						<button
							class="btn btn-danger btn-rounded btn-sm fw-bold"
							data-mdb-toggle = "modal"
							data-mdb-target=#del<%= user._id %>
							type="button"
						>	
							Delete
						</button>
						<div class="modal fade" id=del<%=user._id%> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="exampleModalLabel">Delete <%=user.fullName %></h5>
								</div>
								<div class="modal-body">Are you sure you want to delete <%=user.fullName %>?</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger btn-rounded btn-sm fw-bold" 
								 id=<%=user._id %> data-mdb-dismiss="modal" name="delete" >Yes</button>
								  <button type="button" class="btn btn-secondary btn-sm" data-mdb-dismiss="modal">No</button>
								</div>
							  </div>
							</div>
						  </div>
					</td>
				</tr>
				<% }) %>	
			</tbody>
		</table>
	</div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
<script>
	$(document).ready(function () {
		$("#table").DataTable({
			columnDefs: [
				{
					orderable: false,
					targets: 3,
				},
			],
		});
	});
	$("[name='delete']").click(function(){
		var data=$(this).attr("id");
		console.log(data);
		fetch(
			"/api/users/delete-user",
			{
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({_id:data}),
			}
		).then(async (data) => {
			if (data.status == "200") {
				window.location.replace(
					"/admin/users"
				);
				alert("success!");
			} else {
				alert("error!");
			}
		});
	})
	// function confirmDelete(btn) {
	// 	let data = btn.id.split("+");
    //     let confirmAction = confirm(`Are you sure to delete the user ${data[2]} ?`);
    //     if (confirmAction) {
	// 		fetch(
	// 			"/api/users/delete-user",
	// 			{
	// 				method: "POST",
	// 				headers: {
	// 					"Content-Type": "application/json",
	// 				},
	// 				body: JSON.stringify({_id:data[1]}),
	// 			}
	// 		).then(async (data) => {
	// 			if (data.status == "200") {
	// 				window.location.replace(
	// 					"/admin/users"
	// 				);
	// 				alert("success!");
	// 			} else {
	// 				alert("error!");
	// 			}
	// 		});
    //   }
	// }
</script>
<%- include('./nav_end.ejs') %>
