<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            <%= title %>
            </title>
            <!-- Font Awesome -->
            <link
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
                rel="stylesheet"
                />
            <!-- Google Fonts -->
            <link
                href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
                rel="stylesheet"
                />
            <!-- MDB -->
            <link
                href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
                rel="stylesheet"
                />
            <link rel="stylesheet" href="/stylesheets/tablestyle.css"/>
        </head>

        <body>
            <div><%= course[0].courseCode %></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="schedule-table">
                                <table class="table bg-white">
                                    <thead>
                                        <tr>
                                            <th>Routine</th>
                                            <th>Mon</th>
                                            <th>Tue</th>
                                            <th>Wed</th>
                                            <th>Thu</th>
                                            <th>Fri</th>
                                            <th>Sat</th>
                                            <th class="last">Sun</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="day">08:30</td>
                                            <% for (var i=0; i<7; i++) { %>
                                                <% course.forEach((course)=>{ %>
                                                    <% if (i==course.ts[0]) { %>
                                                        <td class="active" id=<%=i
                                                            %> rowspan=<%=course.ts.length
                                                                %>>
                                                                <h4><%=
                                                                        course.courseCode
                                                                        %></h4>
                                                                    <p><%=
                                                                            course.start
                                                                            %> -
                                                                            <%=
                                                                                course.end
                                                                                %></p>
                                                                        </td>
                                                                        <% }
                                                                            else
                                                                            {
                                                                            %>
                                                                            <td
                                                                                id=<%=
                                                                                i
                                                                                %>></td>
                                                                            <% }
                                                                                %>
                                                                                <%
                                                                                    })
                                                                                    %>
                                                                                    <%
                                                                                        }
                                                                                        %>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td
                                                                                            class="day">09:30</td>
                                                                                        <%
                                                                                            for
                                                                                            (var
                                                                                            i=7;
                                                                                            i<14;
                                                                                            i++)
                                                                                            {
                                                                                            %>
                                                                                            <%
                                                                                                course.forEach((course)=>{
                                                                                                %>
                                                                                                <%
                                                                                                    if
                                                                                                    (i==course.ts[0])
                                                                                                    {
                                                                                                    %>
                                                                                                    <td
                                                                                                        class="active"
                                                                                                        id=<%=i
                                                                                                        %>
                                                                                                        rowspan=<%=course.ts.length
                                                                                                            %>>
                                                                                                            <h4><%=
                                                                                                                    course.courseCode
                                                                                                                    %></h4>
                                                                                                                <p><%=
                                                                                                                        course.start
                                                                                                                        %>
                                                                                                                        -
                                                                                                                        <%=
                                                                                                                            course.end
                                                                                                                            %></p>
                                                                                                                    </td>
                                                                                                                    <%
                                                                                                                        }
                                                                                                                        else
                                                                                                                        {
                                                                                                                        %>
                                                                                                                        <td
                                                                                                                            id=<%=
                                                                                                                            i
                                                                                                                            %>></td>
                                                                                                                        <%
                                                                                                                            }
                                                                                                                            %>
                                                                                                                            <%
                                                                                                                                })
                                                                                                                                %>
                                                                                                                                <%
                                                                                                                                    }
                                                                                                                                    %>
                                                                                                                                </tr>
                                                                                                                                <tr>
                                                                                                                                    <td
                                                                                                                                        class="day">10:30</td>
                                                                                                                                    <%
                                                                                                                                        for
                                                                                                                                        (var
                                                                                                                                        i=14;
                                                                                                                                        i<21;
                                                                                                                                        i++)
                                                                                                                                        {
                                                                                                                                        %>
                                                                                                                                        <%
                                                                                                                                            course.forEach((course)=>{
                                                                                                                                            %>
                                                                                                                                            <%
                                                                                                                                                if
                                                                                                                                                (i==course.ts[0])
                                                                                                                                                {
                                                                                                                                                %>
                                                                                                                                                <td
                                                                                                                                                    class="active"
                                                                                                                                                    id=<%=i
                                                                                                                                                    %>
                                                                                                                                                    rowspan=<%=course.ts.length
                                                                                                                                                        %>>
                                                                                                                                                        <h4><%=
                                                                                                                                                                course.courseCode
                                                                                                                                                                %></h4>
                                                                                                                                                            <p><%=
                                                                                                                                                                    course.start
                                                                                                                                                                    %>
                                                                                                                                                                    -
                                                                                                                                                                    <%=
                                                                                                                                                                        course.end
                                                                                                                                                                        %></p>
                                                                                                                                                                </td>
                                                                                                                                                                <%
                                                                                                                                                                    }
                                                                                                                                                                    else
                                                                                                                                                                    {
                                                                                                                                                                    %>
                                                                                                                                                                    <td
                                                                                                                                                                        id=<%=
                                                                                                                                                                        i
                                                                                                                                                                        %>></td>
                                                                                                                                                                    <%
                                                                                                                                                                        }
                                                                                                                                                                        %>
                                                                                                                                                                        <%
                                                                                                                                                                            })
                                                                                                                                                                            %>
                                                                                                                                                                            <%
                                                                                                                                                                                }
                                                                                                                                                                                %>
                                                                                                                                                                            </tr>
                                                                                                                                                                        </tbody>
                                                                                                                                                                    </table>
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                    </div>
                                                                                                                                                </body>
                                                                                                                                                <script
                                                                                                                                                    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js">
                                                                                                                                                    console.log("fuck");
                                                                                                                                                    $(document).ready(()=>{
                                                                                                                                                            console.log("ready to delete");
                                                                                                                                                            course.forEach((course)=>{
                                                                                                                                                                if(course.ts.length>1){
                                                                                                                                                                    course.ts.splice(0,1).forEach((t)=>{
                                                                                                                                                                        $(`#${t}`).remove();
                                                                                                                                                                        console.log(t);
                                                                                                                                                                    });
                                                                                                                                                                }
                                                                                                                                                            });
                                                                                                                                                        });
                                                                                                                                                    


                </script>
                                                                                                                                                <script
                                                                                                                                                    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
