<%- include('./nav.ejs') %>
    <!-- <body> -->

<body>
    <div class="container">
        <div class="row">
            <div class="schedule-table">
                <table class="bg-white">
                    <thead>
                        <tr>
                            <th>Routine</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                            <th class="last">Sun</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="day">08:30</td>
                            <% for (var i=0; i<7; i++) { %>
                                <td class="td" id=<%= i %>></td>
                            <% } %>
                        </tr>
                        <tr>
                            <td class="day">09:30</td>
                            <% for (var i=7; i<14; i++) { %>
                                <td class="td" id=<%= i %>></td>
                            <% } %>
                        </tr>
                        <tr>
                            <td class="day">10:30</td>
                            <% for (var i=14; i<21; i++) { %>
                                <td class="td" id=<%= i %>></td>
                            <% } %>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="list-group list-group-light">
            <% data.course.forEach((c)=>{%>
            <li class="list-group-item" >
                <input
                    class="form-check-input"
                    type="checkbox"
                    value=<%= c.courseCode %>
                    id=<%= c.courseCode %>
                    />
                <label
                    class="form-check-label"
                    for=<%= c.courseCode %>>
                    <div
                        class="d-flex
                        flex-row">
                        <div>
                            <%=
                                c.courseCode
                                %>
                            </div>
                            <div>
                                start:
                                <%= c.start %>
                            </div>
                                <div>
                                    end:
                                    <%=
                                        c.end
                                        %>
                                    </div>
                                </div>
                            </label>
                        </li>
                        <%
                            })
                            %>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark" id="reset">Reset</button>
            <button type="button" class="btn btn-secondary" id="valid">Validate</button>
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
        
    </div>
</body>
<script>
    var data = <%- JSON.stringify(data) %>;
    var courses = data.course.map(c =>{
        return {
            courseCode: c.courseCode,
            venue: c.venue,
            class: c.class,
            day: c.day,
            start: c.start,
            end: c.end,
            ts: c.ts,
            displayed: c.displayed
        };
    });

    console.log(courses);
    $("#valid").click(()=>{
        var list=[];
        $('input[type="checkbox"]:checked').each(function() {
  // Do something with each checked checkbox
            list.push($(this).val());
        });
        list.forEach((code)=>{
            console.log(code);
            courses.forEach((c)=>{
                if(c.courseCode==code){
                    if(c.displayed==false){
                        var span=c.ts.length;
                        $(`#${c.ts[0]}`).html(`<h4>${c.courseCode}</h4><p>${c.start} - ${c.end}</p>`);
                        $(`#${c.ts[0]}`).attr({
                            "rowspan" : `${span}`,
                            "class" : "active",
                            
                        });
                        c.ts.shift();
                        c.ts.forEach((id)=>{
                            $(`#${id}`).hide();
                        });

                    }
                }
            })
        });
    })
    $("#reset").click(()=>{
            $(".td:hidden").show();
            $(".active").text(" ");
            $(".active").attr({
                "rowspan" : "1"
            });
            $(".active").removeClass("active");
            $('input[type="checkbox"]:checked').each(function() {
                
            });
    })
</script>