<%- include('./nav.ejs') %>
    <!-- <body> -->

<body>
    <div class="container">
        <div class="row">
            <div class="list-group list-group-light">
            <% data.course.forEach((c)=>{%>
            <li class="list-group-item">
                <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="checkboxExample1"
                    />
                <label
                    class="form-check-label"
                    for="checkboxExample1">
                    <div
                        class="d-flex
                        flex-row">
                        <div>
                            <%=
                                c.courseCode
                                %>
                            </div>
                            <div>
                                start:
                                <%= c.start %>
                            </div>
                                <div>
                                    end:
                                    <%=
                                        c.end
                                        %>
                                    </div>
                                </div>
                            </label>
                        </li>
                        <%
                            })
                            %>
            </div>
        </div>
    </div>
</body>
<script>
    var data = <%- JSON.stringify(data) %>;
    console.log(data)
</script>