<%- include('./nav.ejs') %>

<div class="container">
    <div class="loader"></div>
    <div class="row">
        <div class="schedule-table py-3">
            <table class="bg-white">
                <thead class="border border-3 border-primary">
                    <tr>
                        <th>Routine</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                        <th class="last">Sun</th>
                    </tr>
                </thead>
                <tbody >
                    <% for(var i = 8; i <= 20; i++){ %>
                        <tr style="height: 50%">
                            <td class="day py-2"><%=i.toString().padStart(2, "0")%>:30</td>
                            <% for (var j=0; j<7; j++) { %>
                                <td class="td py-2" id="<%=j %><%=(i-8).toString().padStart(2, "0")%>"></td>
                            <% } %>
                        </tr>
                    <% } %>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<script>
    $(document).ready(() => {
        $('.schedule-table').hide();
        $('.loader').show();
        var response = fetch('/api/courses/myCourse').then(res => res.json()).then(data => {
            $('.schedule-table').show();
            $('.loader').hide();
            console.log(data);
            var course = data.map(c => {
                if (c.selected){
                // if (true){
                    var timeslots = [];
                    for (let meeting of c.courseID.meetings){
                        for (let ts of meeting.timeSlot)
                            timeslots.push(meeting.day.toString() + ts);
                    }
                    return {
                        courseCode: c.courseID.courseCode,
                        venue: c.courseID.venue,
                        timeSlot: timeslots,
                        displayed: false,
                    };
                }
            });
            function separateTimeSlots(arr) {
                let result = [];
                arr.forEach(obj => {
                    if(obj){
                        obj.timeSlot = obj.timeSlot.sort();
                        obj.timeSlot.push("-1");
                        var length = 1;
                        var prev = 0;
                        var lens = [];
                        for (var i = 1; i < obj.timeSlot.length; i++) {
                            if((parseInt(obj.timeSlot[prev])+1).toString() !== obj.timeSlot[i] ){
                                let newObj = { ...obj };
                                newObj.timeSlot = obj.timeSlot.slice(prev, i);
                                result.push(newObj);
                                prev = i;
                            }
                        }
                    }

                });
                return result;
            }
            var courses = separateTimeSlots(course);
            courses.forEach((c) => {
                if (c.displayed == false) {
                    var span = c.timeSlot.length;
                    $(`#${c.timeSlot[0]}`).html(`<h4>${c.courseCode}</h4><p>${c.venue}</p>`);
                    $(`#${c.timeSlot[0]}`).attr({
                        "rowspan": `${span}`,
                        "class": "active py-1",
                    });
                    c.timeSlot.shift();
                    c.timeSlot.forEach((id) => {
                        $(`#${id}`).hide();
                    });
                    c.displayed = true;
                }
            })
        });
    })



</script>
<%- include('./nav_end.ejs') %>