<%- include('./nav.ejs') %>
<body>
	<div class="container pt-4 pb-5">
		<div class="row">
			<div class="col-10">
				<h3 style="display: inline"><%=courseCode%>-<%= classNo %></h3>
				<input
					style="display: inline"
					class="ps-3 text-muted"
					disabled
					value="<%=courseName%>"
				/>
			</div>
			<div class="col-2">
				<button class="btn btn-primary float-end">Edit</button>
			</div>
		</div>
		<hr class="my-2" />
		<div class="row">
			<textarea disabled style="width: 100%"><%=description%></textarea>
		</div>
		<!-- <p class="text-muted"><%=description%></p> -->
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Instructor</th>
					<th scope="col">Seats</th>
					<th scope="col">Venue</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<input
							type="text"
							class="form-control"
							value="<%=instructor%>"
							disabled
						/>
					</td>
					<td>
						<input
							type="text"
							class="form-control"
							value="<%=seat%>"
							disabled
						/>
					</td>
					<td>
						<input
							type="text"
							class="form-control"
							value="<%=venue%>"
							disabled
						/>
					</td>
				</tr>
			</tbody>
		</table>
		<h4 class="text-muted" style="display: inline">Meetings</h4>
		<button class="btn btn-link btn-floating" type="button">
			<i class="fa-solid fa-plus"></i>
		</button>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Weekday</th>
					<th scope="col">Time</th>
					<th scope="col">Dates</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<% var weekdays = ["Sunday", "Monday", "Tuesday", "Wednesday",
			"Thursday", "Friday", "Saturday"] %>
			<tbody>
				<% for (let meeting of meetings) { %>
				<tr>
					<td>
						<input
							type="text"
							class="form-control"
							value="<%= weekdays[meeting.day]%>"
							disabled
						/>
					</td>
					<td>
						<input
							type="text"
							class="form-control"
							value="<%=meeting.start%> - <%=meeting.end%>"
							disabled
						/>
					</td>
					<td>
						<input
							type="text"
							class="form-control"
							value="<%=meeting.dates%>"
							disabled
						/>
					</td>
					<td>
						<button
							class="btn btn-light btn-rounded btn-sm fw-bold"
							data-toggle="modal"
							data-target="#exampleModal3"
							type="button"
							data-mdb-ripple-color="dark"
							onclick=""
						>
							Edit
						</button>
						<button
							class="btn btn-danger btn-rounded btn-sm fw-bold"
							data-toggle="modal"
							data-target="#exampleModal4"
							type="button"
							data-mdb-ripple-color="dark"
							onclick=""
						>
							Delete
						</button>
					</td>
				</tr>
				<%}%>
			</tbody>
		</table>
		<div class="float-center d-flex justify-content-center">
			<button class="btn btn-link">back</button>
		</div>
	</div>
</body>
<%- include('./nav_end.ejs') %>
